.login-form{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
    width: 70%;
}

.login-form li input{
    padding: 55px 0 15px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d4d9e3;
    font-size: 24px;
    outline: none;
    color: #8492af;
}

.login-form li input::placeholder{
    font-size: 24px;
    color: #8492af;
}

.btn-enter{
    font-size: 24px;
    color: #fff;
    background: #5584ff;
    border: none;
    outline: none;
    line-height: 70px;
    padding: 0 25%;
    border-radius: 35px;
    margin-top: 10%;
}

